<%- include("partials/header2.ejs") %>


<form action="" method="post">
        <h2>Đăng ký</h2>
        <input type="text" name="username" placeholder="Tên đăng nhập" required>
    
        <input type="email" name="email" placeholder="Email" required>
    
        <input type="password" name="password" placeholder="Mật khẩu" required>
        
        <button>Đăng ký</button>
    </form>
    